@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
:root {
  --primary: #ff4e69;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary);
  margin: 0px 50px 50px 0px;
}

.container {
  display: flex;
}

.App {
  width: 100%;
  /* margin: 0 auto; */
}

.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover {
  background: var(--primary);
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 50%;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0%;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  box-shadow: -2px 44px 76px -46px rgba(0, 0, 0, 0.75);
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

/* form view */
.form {
  position: fixed;
  text-align: center;
  /* top: 0;
  left: 0; */
  z-index: 1;
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid red;
}

/* nav */
.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2rem;
  height: 10vh;
}

.items {
  display: flex;
  align-items: center;
}

.items .btn {
  display: flex;
  align-items: center;
  margin-right: 45px;
  padding: 2px 40px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.4rem;
}

.items .btn p {
  margin-left: 30px;
}

.items p {
  margin-right: 15px;
}

/* sidebar */
.side {
  background-color: #fbfbfb;
  width: 20%;
  height: 100vh;
  padding: 20px 0 0 20px;
  border-right: 1px solid rgb(195, 195, 195, 0.5);
}

.side h1 {
  color: black;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: normal;
  font-family: "Yellowtail", cursive;
}

.user-info {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 100px;
}

.user-info img {
  height: 50%;
  border-radius: 50%;
  align-self: center;
  padding: 2%;
  border: 2px solid var(--primary);
}

.stats {
  display: flex;
  justify-content: space-around;
}

.location {
  font-size: 0.9rem;
  color: grey;
}

.side_nav {
  display: flex;
  flex-flow: column;
}

.link {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-top: 25px;
  color: rgb(151, 151, 151);
}

.link p {
  font-size: 1.2rem;
  margin-left: 15px;
}
